doctype html
html
	head
		title Fliuva - Página principal
		meta(charset="utf-8")
		script(src="/bower_components/vis/dist/vis.min.js")
		script(src="/app.js")
		link(href="/bower_components/vis/dist/vis.min.css", rel="stylesheet")
	body
		h1 Fliuva
		section
			h3 Usuarios por día
			div#users-per-day
		section
			table#sessions
				tr
					th Tiempo
					th Sesión
